[/]
tools.sessions.on: True
tools.auth_basic.on: True
tools.auth_basic.realm: 'Expenses'
tools.auth_basic.checkpassword: service.checkpassword

[/account]
request.dispatch: cherrypy.dispatch.MethodDispatcher()
tools.sessions.on: True
tools.response_headers.on: True
tools.response_headers.headers: [('Content-Type', 'text/plain')]
tools.db.on: True

[/household]
request.dispatch: cherrypy.dispatch.MethodDispatcher()
tools.sessions.on: True
tools.response_headers.on: True
tools.response_headers.headers: [('Content-Type', 'text/plain')]
tools.db.on: True
tools.auth_basic.on: True
tools.auth_basic.realm: 'Household'
tools.auth_basic.checkpassword: service.checkpassword

[/member]
request.dispatch: cherrypy.dispatch.MethodDispatcher()
tools.sessions.on: True
tools.response_headers.on: True
tools.response_headers.headers: [('Content-Type', 'text/plain')]
tools.db.on: True
tools.auth_basic.on: True
tools.auth_basic.realm: 'Member'
tools.auth_basic.checkpassword: service.checkpassword
